body {
  font-family: sans-serif;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color:white;

}

 /* .menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  
}  */

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  top: 50%; margin-top: -1px;
  left:50%; margin-left: -10px;
  width: 20px; 
  height: 2px;
  background-color: #222222;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
} 

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after{
  transform: translateY(5px);
}


@media (max-width: 1000px) { 
  
  
  .menu-btn span:hover::before{
    transform: rotate(45deg);
  }

  .menu-btn span:hover::after{
    transform: rotate(-45deg);
  }
  .menu-btn span:hover {
    height: 0;
  }


}  
