
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{/* width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%; */
    background-color: #CCE0DE;
    font-family: 'Roboto', sans-serif;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


/* хедер */
.header {
    width: 100%;
    background-color:  #A9C6CE;
    display: flex;
    justify-content: space-around;
    padding: 20px 70px;
    z-index: 3;
}

.enterText {
    color: black;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

/* Container */
.container {
    max-width: 600px;
    margin: 120px auto auto auto;
}


/* media */
@media (max-width: 744px) {
    .user_name{
        display: none;
    }
}
@media (max-width: 600px) {
        /* Хедер райт */
    .lang {
        padding-left: 5px;
    }
}
@media (max-width: 440px) {
    /* хедер */
    .container {
        margin: 90px auto auto auto;
    }
    .header {
        padding: 20px 25px;
    }   
     /*хедер лефт  */
     .header_left {
        width: auto;
    }
    .menu {
        padding-right: 5px;
    }
     .logo {
        display: none;
    }
    /* хедер райт */
    .search {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}


