.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTamplate {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  
  width: 100%;
  max-width: 900px;

}

.template {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 5px;
/*   justify-content: space-around; */

  width: 100%;
  min-width: 320px;
  
  margin-bottom: 30px; 
  padding-bottom: 5px;
  padding-top:5px;

  white-space: nowrap;
}

.leftPart {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.rigthPart {

  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.imageTamplate{
  padding-left: 10px;
}

.textTamplate {
  padding-left: 15px;
  align-self: center;
}

.buttonTamplatePencil {
  background-color: #ffffff;
  padding-right: 15px;
}

.buttonTamplateDelete {
  background-color: #ffffff;
  padding-right: 15px;
}


img {
  max-width: 20px;
  max-height: 30px;
}
